/* services section styling */ 
.services-section {
    text-align: center;
    background: white;
}

.services-section .jumbotron {
    margin-bottom: 0px;
    background-color: white;
}

.services-section .services-header {
    width: 100%;
    padding-top: 75px; 
    padding-bottom: 75px;
    background-color: #09814A;
    color: white;
}

.services-section .info-port .media {
    display: none;
    padding-top: 20px;
    background-color: white;
}

.services-section .info-port .media-body {
    padding-top: 50px;
}

.services-section .info-port .media p {
    text-align: left;
    line-height: 200%;
}

.services-section .info-port .media .media-object {
    margin-left: auto;
    margin-right: auto;
}

.services-section .service-list {
    background-color: #eee;
}

.services-section .service-list .list-group .sub-group {
    display:none;
}
.services-section .service-list .list-group .default {
    display: block;
}

.services-section .info-port .active-page {
    display: block;
    margin-top: 0px;
}

.services-section .service-list .list-group .list-group-item {
    text-align: left; 
    border-radius: 0px;
    border-color: transparent;
    background-color: #eee;
}


.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #33CE6C;
    background-color: white;
    border-left-color: #33CE6C !important;
    border-width: 5px;
}